<h1> Edit order </h1>

<form action="/updateorders/<%= @order.id %>" method="post">
    <input type="hidden" name="_method" value="PATCH">
    Address: <input type=text value="<%= @order.address %>" name='address'>
    Item: <input type=text value="<%= @order.item %>" name='item'>
    Item_price: <input type=number value="<%= @order.item_price %>" name='item_price'>
    Total: <input type=number value="<%= @order.total %>" name='total'>
    <input type=submit>
</form>
<a href="/users/<%= session[:user_id] %>">Home</a>
<a href="/orders/new">Add Order</a>