<% @orders.each do |order| %>
 <a href="/orders/<%= order.id %>">   <p> Order Number: <%= order.id %> </p>
    <p> Address: <%= order.address %> </p>
    <p> Total: <%= order.total %> </p>
    <p> Username: <%=order.user.username%> </p></a>

<% end %>

<a href="/home">Home</a>
